@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

:root {
    --background: #f6f6f6;
    --white: #fff;
    --black: #0f172a;
    --border: #e1e3e6;
    --active: #eaeaea;
    --main: #ffde59;
    --main-light: #ffde595b;
    --iconBg: #f3f4f6;
    --iconColor: #64748b;
    --lightSuccess: #e0f7e7;
    --success: #2dc862;
    --lightDanger: #fcd9df;
    --danger: #e40121;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: var(--black);
}

.navigationHeading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
}
.navigationHeading span {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
}
.navigationHeading ion-icon {
    width: 12px;
    height: 12px;
}
p {
    background: none;
}
label {
    display: flex;
    align-items: center;
    gap: 5px;
}
.imp {
    font-size: 12px;
    color: var(--danger);
}
.notimp {
    font-size: 12px;
    color: #fff;
}
.delete {
    background: #ff003c !important;
    color: #fff;
}
.empty_data {
    font-size: 12px;
    font-weight: 400;
}

/* ////////////////////////////////////// */
.homeMainContainer {
    display: flex;
    min-height: 100vh;
    transition: 0.3s ease;
    background-color: #f6f6f9;
}

/* Left Sidebar */
.left {
    width: 290px;
    padding-right: 20px;
    transition: 0.3s ease;
}

.left h1 {
    font-size: 24px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

/* Right Main Content */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 10px;
    border-radius: 0.4rem;
}

.top {
    transition: 0.3s ease;
}

.content {
    flex: 1;
    padding: 20px;
    transition: 0.3s ease;
}

.footer {
    background-color: #2c3e50;
    text-align: center;
    padding: 10px;
    transition: 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .homeMainContainer {
        flex-direction: column;
        transition: 0.3s ease;
    }

    .left {
        width: 100%;
        height: auto;
        transition: 0.3s ease;
    }

    .right {
        width: 100%;
        transition: 0.3s ease;
    }

    .top {
        padding: 15px;
        transition: 0.3s ease;
    }

    .content {
        margin: 0;
        padding: 15px;
        transition: 0.3s ease;
    }

    .footer {
        padding: 15px;
        transition: 0.3s ease;
    }
}
