.nav {
    width: 1200px;
    margin: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
    transition: ease;
    border-bottom: 1px solid var(--border);
}
.nav .navLeft,
.navCenter,
.navRight {
    flex: 1;
}
.nav .navLeft ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav .navLeft ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s ease;
}
.nav .navLeft ul li a:hover {
    color: #38bdf8;
}
.activeNavLink {
    color: #38bdf8;
}
.nav .navCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .navCenter img {
    height: 30px;
    object-fit: contain;
    cursor: pointer;
    user-select: none;
}
.nav .navRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.search {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: var(--iconBg);
    border: 1px solid var(--border);
    padding: 7px 13px;
    border-radius: 2rem;
    cursor: pointer;
}
.search ion-icon {
    width: 14px;
    height: 14px;
    color: var(--iconColor);
    background: transparent;
}
.search input {
    border: 0;
    outline: 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--iconColor);
    width: 200px;
    background: transparent;
}
.userProfile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.userProfile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileDropdown {
    width: 250px;
    border-radius: 10px;
    position: absolute;
    top: 130%;
    right: 10%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    background: white !important;
    display: none;
    z-index: 100000;
}
.profilePic {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-bottom: 10px;
    background: none;
}
.profilePic img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    background: none;
}
.dropdownUsername {
    background: none;
}
.dropdownUsername h3 {
    font-size: 13px;
    font-weight: 800;
    background: none;
    color: var(--black);
}
.dropdownUsername span {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.8;
    background: none;
    color: var(--black);
}
.profilePic ion-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 19px;
    height: 19px;
    aspect-ratio: 1/1;
}

.profileItem {
    flex: 1;
    background: none;
}
.profileItem {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 5px 0;
    background: none;
}
.profileItem form button {
    flex: 1;
    background: none;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.profileItem:hover {
    background: var(--iconBg);
}
.profileItem ion-icon {
    width: 16px;
    height: 16px;
    background: none;
    color: var(--iconColor);
    transition: opacity 0.3s ease;
    aspect-ratio: 1/1;
}
.profileItem span {
    background: none;
    color: var(--iconColor);
    transition: opacity 0.3s ease;
    font-size: 12px;
    font-weight: 500;
}
hr {
    flex: 1;
    height: 0;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid var(--border);
}
